@font-face{
    font-family: "Montserrat";
    src: url('./fonts/Montserrat-Regular.woff') format('woff'),
         url('./fonts/Montserrat-Regular.woff2') format('woff2');
    font-style: normal;
}

body {
  /* margin: auto;
  padding: 20px; */
  font-family: "Montserrat", sans-serif;
  color: #000;
  /* display: flex;
  flex-direction: column;
  overflow:hidden; */
  overflow: hidden;
  background: transparent;
  
}

@font-face{
    font-family: "Byte";
    src: url('./fonts/ByteBounce.woff') format('woff'),
         url('./fonts/ByteBounce.woff2') format('woff2');
    font-style: normal;
}

h1 {
  margin: 0;
  font-size: 13px;
  font-weight:normal;

}

h2 {
  font-size:30px;
  font-family: "Byte";
  margin: 0;
  color:#6d0081;
  width:80%;
  line-height: 1;
}

.wrapper-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;

  p {
    font-size: 18px;
    font-weight: 900;
    margin: 0;
    font-family: Byte;
      color:#6d0081;

  }

  button {
    background-color: #6d0081;
    border: 1px solid #6d0081;
    color:#e7c0f6;
    border-radius: 5px;
    cursor:pointer;
    font-size:10px;
    padding:5px;
    margin-right: 10px;

    &:hover {
      background:#e7c0f6;
      color:#6d0081;
    }
    
  }
}

.smalltext {
  font-size: 10px;
  align-self: flex-end;
  text-align: center;
}

.container {
  width: 310px;
  height: 140px;
  background: #e7c0f6;
  border-radius: 40% 60% 60% 40% / 40% 40% 60% 60%;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  padding: 40px;
  animation:pop 0.5s ease-in-out;
}

@keyframes pop {
  0% {
    transform:scale(0.5);
    opacity: 0;
  }
  50% {
    transform:scale(1.2);
    opacity:1;
  }
  100% {
    transform:scale(1);
    opacity:1;
  }

}

.fadeout {
  animation: fadeout 0.5s ease-in-out forwards;
}

@keyframes fadeout {
  0% {
    opacity:1;
    transform:scale(1.2);
  }
  100% {
    opacity:0;
    transform:scale(0.5);
  }
}


.wrapper-input {
  display:flex;
  gap:10px;
  margin-top:20px;
}