body {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  font-family: Byte;

  display:flex;
  flex-direction: column;
  align-items: flex-start;
  height:100vh;

  background:
  repeating-conic-gradient(#f4e4da 0 25%, #0000 0 50%) 
      50% / 80px 80px;

}

#root {
  width:100%;
}


.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@font-face{
    font-family: "Byte";
    src: url('../fonts/ByteBounce.woff') format('woff'),
         url('../fonts/ByteBounce.woff2') format('woff2');
    font-style: normal;
}

h1 {
  font-size:50px;
  margin:0;
  color:#f3b0ff;
  text-shadow: 2px 2px #1e3c58;
}

h2 {
  font-size:30px;
  margin:0;
}

input {
  background:#f3b0ff;
  border:2px dashed #1e3c58;
  border-radius:10px;
  padding:10px;

  width:100%
}

button {
  background:#f769ad;
  border:2px solid #f3b0ff;
  border-radius:10px;
  padding:10px;
  cursor:pointer;
}

.container-main {
  align-self:flex-start;
}